<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Configuration de la servlet -->
  <servlet>
    <servlet-name>ProduitServlet</servlet-name>
    <servlet-class>Servlet.ProduitServlet</servlet-class>
  </servlet>

  <!-- Mapping de la servlet -->
  <servlet-mapping>
    <servlet-name>ProduitServlet</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>

  <!-- Rediriger la page d'accueil vers la servlet produit -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
